.delete-button {
  visibility: hidden;
  display: inline-block;
}
.table-row:hover {
  background-color: #f3f3f3;
}

.table-row:hover .delete-button {
  visibility: visible;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* .news-container .card {
  height: fit-content;
} */

.card-title:hover {
  text-decoration: underline;
}
@media (min-width: 1900px) {
  .news-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
