.delete-button {
  visibility: hidden;
  display: inline-block;
}
.table-row:hover {
  background-color: #f3f3f3;
}

.table-row:hover .delete-button {
  visibility: visible;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card-title:hover {
  text-decoration: underline;
}

.news-category-bar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.news-category-bar .news-category-item:hover {
  cursor: pointer;
}
.news-category-bar .selected-category {
  color: rgba(0, 120, 255, 1);
}

@media (min-width: 1900px) {
  .news-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
